* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('https://besthqwallpapers.com/Temp/27-4-2022/4k-gray-carbon-background-vector-textures-carbon-patterns-gray-carbon-texture-besthqwallpapers.com-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body > div.container {
    width: 100%;
    height: 100%;
}

header{
    color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 15vh; 
    font-size: 1.5rem;
}

main{
    display: flex;
    justify-content: center;
    width: 100vw;
    height:79vh;
    overflow: auto;
    background-color: #f0f0f5; 
    
}

main > table{
   width: 90%;
    max-width: 1366px;
    border-spacing: 0 1rem;
}

main > table > thead > tr > th{
    font-size: 1.5rem;
    color: #f0f0f5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 5vh;
    background-color: #000;
 
}

main > table > tbody > tr{
    background-color: #fff;
    transition: 0.5s ease;
}

tbody > tr:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

td.cod{
    font-weight: 700;
    text-align: center;
    width: 4rem;
}

td.img{
    padding: 10px;
}

img.tamanho-imagem{
    width: 8rem;
    height: 6rem;
    border-radius: 2px;
}

td.descricao{
    padding: 2px 10px;
    font-weight: 700;

}

td.preco{
    text-align: center;
    width: 100px;
    font-weight: 700;
}

td.comprar{
 width: 100px;
 padding: 0 5px;
}

td.comprar > button{
    border-radius: 5px;
    border: 1px solid red;
    padding: 2px 15px;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: #f00;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
}

td.comprar > button > svg{
    margin-right: 5px;
}

.button-compra {
   
    
    
}

.button-comprar:hover{
    background: rgb(199, 0, 0);
}

footer{
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #f5f5f5;
    font-size: 1.3rem;
}